body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Container {
    width: 100%;
    height: 550px;
    background-image: url(img/bg.png);
    background-size: cover;
}

.Navbar {
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding-left: 9%;
    background-color: white;
}

.Navbar p{
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

.Nav-Link {
    display: flex;
    width: 300px;
    justify-content: space-between;
    position: absolute;
    right: 9%;
}

.Nav-Link a {
    text-decoration: none;
    color: black;
}

.Nav-Link a:hover {
    color: #dfe6e9;
}

.Text-Hero {
    position: absolute;
    left: 9%;
    top: 130px;
    line-height: 0px;
}

.Text-Hero p:first-child {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.Text-Hero p:nth-child(2) {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: 0;
}

.Text-Hero p:nth-child(3) {
    font-size: 30px;
    font-weight: 100;
    line-height: normal;
}

.Here {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 11px;
}

.Cv {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #2f3640;
    font-size: 11px;
    color: white;
    border: none;
}

.Model {
    position: absolute;
    left: 50%;
    top: 100px;
    height: 450px;
}
.about{
    width: 80%;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0,2);
    margin: -3% auto 20px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; 
}
.about img{
    height: 250px;
    margin: 30px;
}
.text-about p:first-child{
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
}
.text-about p:nth-child(2)
.text-about p:nth-child(3){
    font-size: 14px;
    font-weight: 300;
}
.abouth{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 10px;
    font-size: 10px;
}
.aboutdw{
    width: 100px;
    height: 30px;
    background-color: #2f3640;
    font-size: 10px;
    border: none;
    color: white;
}
.textskl{
    margin-left: 9%;
    margin-top: 50px;
    line-height: 0px;
    width: 450px;
}
.textskl p:first-child{
    font-size: 24px;
    line-height: 0px;
    font-weight: 700;
}
.textskl p:nth-child(2){
    font-size: 14px;
    font-weight: bold;
}
.textskl p:nth-child(3){
    font-size: 14px;
    line-height: normal;
}
.cardskl{
    display: flex;
    width: 78%;
    margin: 50px auto;
    justify-content: space-evenly;
}
.skill-1,
.skill-2,
.skill-3{
    width: 250px;
    height: 300px;
    background-color: #2f3640;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.skill-1 div,
.skill-2 div,
.skill-3 div{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #2f3640;
}
.skill-1 p:first-of-type,
.skill-2 p:first-of-type,
.skill-3 p:first-of-type{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px  ;
}
.skill-1 p:nth-last-child(2),
.skill-2 p:nth-last-child(2),
.skill-3 p:nth-last-child(2){
    font-size: 12px;
    color: white;
}
.skill-1 button,
.skill-2 button,
.skill-3 button{
    width: 90px;
    height: 28px;
    border-radius: 10px;
    background-color: white;
    border: none;
}